<head><title>LoopBack</title></head>
<body>
    <h1>WAV Upload </h1>
    <p></p>
    <form ref='uploadForm'
        id='uploadForm'
        action='/api/Public/uploadSound'
        method='post'
        encType="multipart/form-data">
        <input type="file" name="file" />
        <input type='submit' value='Upload!' />
  </form>
</body>
