<template>
  <div id="app">
    <img src="./assets/logo.png">
    <h1>{{ msg }}</h1>
    <say></say>
    <sound-list></sound-list>
    <sound-upload></sound-upload>
  </div>
</template>

<script>
import Say from './Say.vue'
import SoundList from './SoundList.vue'
import SoundUpload from './SoundUpload.vue'

export default {
  name: 'app',
  components: {
    Say, SoundList, SoundUpload
  },
  data () {
    return {
      msg: 'Welcome to Farts as a Service'
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.container {
  background: #EEEEEE;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
}

</style>
