<template>
  <div class="container">
    <h1>Say View</h1>
    <p><input v-model="say" placeholder="something to say"></input><button v-on:click="doSay()">Say</button></p>
  </div>
</template>

<script>
import store from "./store.js";

export default {
  name: 'Say',
  data () {
    return {
      say: '',
      options: {
        pitch: 140,
        voice: 'en-us',
        male: true
      },
      result: ""
    }
  },
  methods: {
    doSay() {
      store
        .say(this.say)
        .then(result => {
          this.result = result;
        })
        .catch(err => {
          this.result = "some error! not good.";
        });
    }
  }
}
</script>

<style scoped>

</style>
