<template>
<div class="container">
    <h1>Sound Upload</h1>
  <!-- https://scotch.io/tutorials/how-to-handle-file-uploads-in-vue-2 -->
   <form ref='uploadForm'
        id='uploadForm'
        :action="options.url"
        method='post'
        enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" onclick="return false">
  </form>
</div>
</template>

<script>
import store from './store.js'

export default {
  name: "SoundUpload",
  data() {
    return {
      file: "file",
      name: "",
      uploading: false,
       options: {
          url: store.apiURL + 'Public/uploadSound',
          paramName: 'file',
          acceptedFiles: ['audio/vnd.wav', 'audio/wav']
        }
    };
  }
};
</script>

<style scoped>

</style>
