<template>
  <div class="item">
    <div><span class="left">ID: {{item.id}}</span> <span>{{item.name}}</span> <button class="right" v-on:click="play(item.id)">Play</button> </div>
    <div><span class="left">Count: ({{item.timesPlayed}})</span> <span>{{playing}}</span> </div>
  </div>
</template>

<script>
import store from "./store.js";

export default {
  name: "SoundItem",
  props: {
    item: {
      type: Object,
      required: true,
      validator: function(value) {
        return (
          value.hasOwnProperty('id') &&
          value.hasOwnProperty('name') &&
          value.hasOwnProperty('timesPlayed')
        );
      }
    }
  },
  data() {
    return {
      playing: ""
    };
  },
  methods: {
    play(id) {
      this.playing = "playing...";
      store.playSound(id)
        .then(result => {
          this.playing = "";
          this.item = result;
        })
        .catch(err => {
          this.playing = "some error! not good.";
        });
    }
  }
};
</script>

<style scoped>
.item {
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 50px;
  background: #ffffff;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
  padding: 6px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.left {
  float: left;
}
.right {
  float: right;
}
</style>
