<template>
  <div class="container">
    <h1>Sound List</h1>
    <sound-item
      v-for="sound in sounds"
      :item="sound"
      :key="sound.id"
      track-by="id">
    </sound-item>
    <button v-on:click="update()">Reload</button>
  </div>
</template>

<script>
import store from './store.js'
import SoundItem from './SoundItem.vue'

export default {
  name: 'SoundList',
  components: {
    SoundItem
  },
  data () {
    return {
      sounds: [],
      isLoading: false,
      isError: false
    }
  },
  created () {
    this.update();
    //store.on('topstories-updated', this.update)
  },
  methods: {
    update () {
      this.loading = true;

      store.fetchSoundsList().then(sounds => {
        console.log(JSON.stringify(sounds))
        this.sounds = sounds;
        this.isLoading = false;
      }).catch(err => {
        console.log(err)
        this.error = err;
        this.isError = true;
      })

    }
  }
}
</script>

<style scoped>
</style>
